.why-bharat-container {
  background-color: #ffead7;
  padding-top: 60px;
}
.Col1-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.why-bharat-text{
  color:#181818;
  font-size: 40px;

}
.WhyBharatDescription{
  color: #565656;
  font-size: 20px;
}